body{
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

a{
	text-decoration: none;
}
.ui-header .ui-btn, .ui-footer .ui-btn {
  display: inline-block;
  margin: 10px 70px;
  min-width: 150px;
  text-transform:uppercase;
}

.ui-header .ui-btn h2, .ui-footer .ui-btn h2{ 
  font-size:24px;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 7px;
  margin-top: 7px;
  }
  
 .ui-icon-myapp-home:after{
	 background:url(../images/home.png) no-repeat transparent;
	 width: 32px;
	 height:32px;
    margin-top: -9px !important;
    position: absolute !important;
    top: 30% !important;
	}





/*************moviesPage***************/
div.gridList{
	text-align:center;
	width: 300px;
	border: solid 3px #63d0f7;
	padding: 10px 0 0 0;
	margin: 10px auto;
}

h4.view{
	color: #63d0f7;
}
.ui-dialog .ui-header, .ui-dialog .ui-content, .ui-dialog .ui-footer, .video-dialog, .ui-dialog-contain{ 
	max-width: 1880px;
	max-height: 1000px;
}
.ui-dialog-contain{
	margin: 120px auto 0;	
}
.ui-dialog .ui-header{
	margin-top: 0px;
}
.ui-dialog .ui-content {
    padding: 15px;
}

.ui-grid-a span.ui-block-a{
	width: 15%;
	padding-left: 20px;
}
.ui-grid-a span.ui-block-b{
	width:80%;
}
h1.title{
	border-bottom:solid 3px #63d0f7;
	padding-right:10px;
}
div.video{
	width: 100%;
	margin: 0 auto;
}
.ui-header .ui-title, .ui-footer .ui-title{
	font-size: 36px;
}

#index{ 
    position:relative; 
    top:0; 
    left:0;
}

div.menuItem{
    border:solid 1px #666; 
    background: #454753; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    color:#fad5a9; 
    margin-top: 300px; 
    margin-left: 120px; 
    float:left; 
    padding-bottom: 50px;
}

div.menuItem video{
	margin: 0 3px;
	font-family: Arial, Helvetica, sans-serif; 
    border:solid 1px #666;
}
