# jQuery UI Theme folders
interactives/compare/assets/theme
interactives/sort/assets/theme
interactives/memory/assets/theme

#images
interactives/compare/assets/images
interactives/sort/assets/images
interactives/sort/topic/assets/images
interactives/memory/assets/images

#audio
interactives/sort/assets/audio

#content
interactives/compare/content

# Other files and folders
interactives/compare/assets/scripts/jquery
interactives/memory/assets/scripts/jquery
interactives/sort/assets/scripts/jquery


#old exhibits template
exhibits_template/script/jquery/*
exhibits_template/images/*
exhibits_template/videos/*

#new exhibits template
ml_exhibits_angular_template/assets/*
ml_exhibits_angular_template/bower_components/*