/* begin general styles */

.home {
    background-image: url(../assets/images/bkg/mesaLab.jpg);
}
.dragDrop {
    background-image:none;
    background-color:#fff;
}
.wind-map {
    color: rgb(148, 148, 148);
    background-color: #fff;
}
/* end general styles */









