@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,500,700&subset=latin");
* {
	font-family: 'Ubuntu',Arial,sans-serif;
}

/* Jquery UI overrides */
.ui-widget-header {
    margin: 0;
    padding: 10px;
}
.ui-widget-content.dropspot {
    width: 618px;
}
.dropzone_container .droppable {
	display:inline-block;
}
.draggable {
	display:inline-block;
	cursor: move;
    text-align: center;
}
.dropspot {
	min-height:296px;
}
.dropzone_container,
.images_container {
	width:49%;
	display:inline-block;
	margin:0;
	padding:0;
	vertical-align:top;
}
.footer button {
	float: right;
}
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
/*
 #gallery { float: left; width: 65%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li a { float: right; }
.gallery li a.ui-icon-zoomin { float: left; }
.gallery li img { width: 100%; cursor: move; }
*/
.interactive_container_all{
	background-color:#fff;
}
.interactive_container {
	margin:0;
	padding:10px;
}
.interactive_container_all .interactive_container_all, .interactive_container_all .interactive_container_all * {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
}
.interactive_container_all .footer {
	background-color: #336699;
	color: #fff;
	padding: 10px 5px;
	width: 100%;
}
.interactive_container_all .clear {
	clear: both;
}